<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> - Windmill App</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<% if(flashes) { 
	const arrayCategories = Object.keys(flashes);
		arrayCategories.forEach(cat => {
			flashes[cat].forEach(message => { %>
			<div class="container-flash-message flash-<%= cat %>">
				<p class="flash-text"><%= message %></p>
			</div>
		<% 	});
		}); %>
	<% } %>
	<header>
		<nav class="navbar">
			<div class="navbar-account-list">
				<div class="logo-container">
					<img src="/img/windmill_logo.png" alt="windmill logo" class="windmill-logo">
				</div>
				<% if(user) { %>
				<div class="nav-account-options">
					<a href="/logout">Log Out</a>
					<a href="/account">Account</a>
				</div>
				<% } else { %>
				<div class="nav-account-options">
					<a href="/login">Log In</a>
				</div>
				<% } %>
			</div>
			<ul class="navbar-list">
				<li class="<%= title == 'Home' ? 'active-nav' : '' %>" >
					<a href="/">
						<img src="/img/icon-home.png" alt="">
						<p>Home</p>
					</a>
				</li>
				<li class="<%= title == 'My Team' ? 'active-nav' : '' %>">
					<a href="/my-team">
						<img src="/img/icon-my-team.png" alt="">
						<p>My Team</p>
					</a>
				</li>
				<li class="<%= title == 'Starred' ? 'active-nav' : '' %>">
					<a href="/starred">
						<img src="/img/icon-fav.png" alt="">
						<p>Starred</p>
					</a>
				</li>
				<li class="<%= title == 'Info' ? 'active-nav' : '' %>">
					<a href="/info">
						<img src="/img/icon-info.png" alt="">
						<p>Info</p>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
