<% include partials/header.ejs %>
	<section class="dark-section">
		<form action="/game/<%= game.id %>/update-score" method="POST">
			<div class="container-score">
				<div class="score-team">
					<label for="team1-score" class="score-team-name"><%= game.team_1.short_name %></label>
					<div class="container-number-input">
						<img src="/img/icon-arrow-up.png" class="number-arrow number-arrow-up" alt="score up icon">
						<input type="number" id="team1-score" min="0" max="25" name="team1Score" value="<%=game.team_1_score%>">
						<img src="/img/icon-arrow-down.png" class="number-arrow number-arrow-down" alt="score down icon">
					</div>
				</div>
				<div class="score-team">
					<label for="team2-score" class="score-team-name"><%= game.team_2.short_name %></label>
					<div class="container-number-input">
						<img src="/img/icon-arrow-up.png" class="number-arrow number-arrow-up" alt="score up icon">
						<input type="number" id="team2-score" min="0" max="25" name="team2Score" value="<%=game.team_2_score%>">
						<img src="/img/icon-arrow-down.png" class="number-arrow number-arrow-down" alt="score down icon">
					</div>
				</div>
			</div>
			<button type="submit">Update Score</button>
		</form>
	</section>
	<section>
		<h2>Previous Scores</h2>
	</section>
<% include partials/footer.ejs %>