<% include partials/header.ejs %>
<div class="container">
	<% if(liveGames.length) { %>
	<section class="dark-section collapsible-content">
		<div class="container section-inner">
			<header class="header-filter">
				<h2>Live Games</h2>
				<% if(user) { %>
				<div class="container-select">
					<select name="game-filter" id="game-filter">
						<option value="all">All</option>
						<option value="starred">Starred</option>
						<option value="my-team">MyTeam</option>
					</select>					
				</div>
				<% } %>
			</header>
			<% liveGames.forEach(game => { %>
				<a class="game-block container-live-game" href="game/<%= game.gameId %>">
					<div class="container-game-info">
						<p><%= game.startTime %> @ <%- game.field%></p>
					</div>
					<div class="container-game">
						<div class="game-team game-team-1">
							<p><%= game.team1.shortName %></p>
						</div>
						<div class="game-score">
							<div>
								<p><%= game.team1Score %></p>
							</div>
							<div>
								<p> - </p>
							</div>
							<div>
								<p><%= game.team2Score %></p>
							</div>
						</div>
						<div class="game-team game-team-2">
							<p><%= game.team2.shortName %></p>
						</div>
					</div>
				</a>
			<% }); %>
		</div>
		<div class="collapse-control">
			<img src="/img/icon-more.svg" alt="more icon">
		</div>
	</section>
	<%} else { %>
	<section class="dark-section">
		<div class="container section-inner">
			<h2>Live Games</h2>
			<p>There are no live games at the moment</p>
		</div>
	</section>
	<% } %>
	<% if(updates.length) { %>
	<section class="<% if(updates.length > 4) {%>collapsible-content<%}%>">
		<div class="section-inner">
			<header class="header-filter">
				<h2>Updates</h2>
				<% if(user) { %>
				<div class="container-select">
					<select name="game-filter" id="game-filter">
						<option value="all">All</option>
						<option value="starred">Starred</option>
						<option value="my-team">MyTeam</option>
					</select>
				</div>
				<% } %>
			</header>
			<% updates.forEach(update => { %>
				<a href="<%=update.link%>" class="update-block">
					<div class="container-update-type">
						<img src="/img/icon-<%= update.updateType %>.png" alt="type <%= update.updateType %>">
					</div>
					<div class="container-update-message">
						<p><%= update.message %></p>
					</div>
				</a>
			<% }); %>
		</div>
		<% if(updates.length > 4) {%>
		<div class="collapse-control">
			<img src="/img/icon-more.svg" alt="more icon">
		</div>
		<%}%>
	</section>
	<%} else { %>
	<section>
		<div class="section-inner">
			<h2>Updates</h2>
			<p>There are no updates at the moment</p>
		</div>
	</section>
	<% } %>
	<section class="collapsible-content">
		<div class="section-inner">
			<h2>Swiss Standing</h2>
			<% swissStanding.forEach((rank, i) => { %>
			<section class="standing-block">
				<p><%= i+1 %></p>
				<p><%= rank.team.name %></p>
				<p><%= rank.swiss_score %></p>
			</section>
			<% }); %>
		</div>
		<div class="collapse-control">
			<img src="/img/icon-more.svg" alt="more icon">
		</div>
	</section>
</div>
<% include partials/footer.ejs %>